html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Roboto", system-ui, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 9;
  background-color: #db4c3f;
  font-size: 2rem;
  text-align: center;
}

.todolist {
  grid-row: 2 / 9;
  grid-column: 2 / 9;
  overflow-y: scroll;
}

nav {
  grid-row: 2 / 9;
  grid-column: 1 / 2;
  background-color: #f7f7f7;
  /* font-size: 3rem; */
}

nav > ul > ul {
  margin-top: 20px;
  list-style-type: none;
}

nav > ul > ul> li {
  margin-bottom: 10px;
}

nav > ul > li > button {
  padding: 50px 30px;
  border-radius: 50%;
}

 /* form styling */

label,
input,
textarea,
select,
button {
  font-size: 1.3rem;
  line-height: 1.2;
}

form {
  width: 30em;
  max-width: 50%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

dialog > form > button {
  /* margin-top: 2rem; */
  background: #3740ff;
  color: #fff;
  border: none;
  padding: 0.6rem;
}

dialog > form > button:hover,
dialog > form > button:focus {
  background: #272eb5;
}

.creators {
  margin-top: 2rem;
  text-align: center;
}

/* Task List */
.todolist {
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;


}

.todolist > .item {
  height: 300px;
  width: 300px;
  background-color: #f7f7f7;
  box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.75);

  padding: 10px;

  flex-direction: row;
  border-radius: 15px;
}

nav > div > button {
  border-radius: 10px;
  margin-top: 10px;
}

.selected {
  font-weight: bold;
  color: #f54242; /* Or any style you prefer to highlight the selected group */
}